@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

#body {
    background-color: #FCFAFA;
    font-family: Roboto, "Segoe UI", Arial, Helvetica, sans-serif;
    /* max-width: 1025px; */
}

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.website_title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.website_title__header {
    font-size: 36px;
    font-weight: 700;
    color: #422121;
}

.nav {
    display: flex;
    width: 100%;
    background-color: rgba(123, 59, 59, 0.65);
    height: 35px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FCFAFA;
    width: 205px;
    height: inherit;
}

.nav__link:hover {
    cursor: pointer;
    background-color: rgba(123, 59, 59, 0.85);
}

.main_content {
    display: flex;
    /* width: 100%; */
    padding: 30px;
}

.main_content__left,
.main_content__right {
    padding-left: 30px;
    padding-right: 30px;
}

.main_content__left {
    width: 70%;
}

.main_content__right {
    width: 30%;
    background-color: rgba(66, 33, 33, 0.2);
    display: flex;
    flex-direction: column;
    padding-top: 45px;
}

.main_content__post,
.post_title,
.post_content {
    margin-bottom: 30px;
}

.right_section_margin {
    margin-bottom: 45px;
}

.right_content_heading {
    font-weight: 400;
    font-size: 16px;
    color: #422121;
}

.subscribe_input,
.little_about_body {
    margin-top: 10px;
}


.subscribe_input {
    font-size: 14px;
    color: rgba(66, 33, 33, 0.45);
    border: none;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
}

.little_about_body {
    background-color: rgba(252, 250, 250, 0.45);
    padding: 15px 15px 15px 15px;
    text-align: justify;
    /* height: 272px; */
    /* width: 100%; */
}

.upper_part {
    display: flex;
    margin-bottom: 10px;
}

.profile_thumbnail {
    width: 75px;
    height: 75px;
    background-color: #422121;
    border-radius: 50%;
    margin-right: 10px;
}

.lower_part,
.upper_part_paragraph {
    line-height: 1.6;
    font-weight: 400;
    font-size: 16px;
}

.main_content__post {
    display: flex;
    flex-direction: column;
}

.post_title,
.post_content {
    color: #422121;
}

.post_title {
    font-weight: bold;
    font-size: 24px;
}

.post_content {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

.footer {
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: rgba(123, 59, 59, 0.69);
}

.footer_text {
    color: #FCFAFA;
}
